.container {
  height: 100%;
  width: 90%;
  margin: 1rem auto;
}

// Text styles
.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.handle {
  color: primary-text($white);
}

// color styles
.pos {
  color: $limeGreen;
}

.neg {
  color: $brightRed;
}

// bar-colors
.fb {
  background-color: $facebook;
}

.twt {
  background-color: $twitter;
}

.insta {
  background-image: $instagram;
}

.yt {
  background-color: $youtube;
}

// logo size adjust 
.inlarge {
  width: 25px;
  height: 25px;
}

// Active States Dark
body.dark {
  .totals-card:hover, .today-card:hover {
    background-color: $darkThemeHover;
    transform: scale(.99);
    cursor: pointer;
  }
}

// Active States Light
.totals-card:hover, .today-card:hover {
  background-color: $lightThemeHover;
  transform: scale(.99);
  cursor: pointer;
}

.theme-slider:hover {
  background-image: $darkThemeToggle;
}